
@mixin font-face($style-name, $file, $family, $category:"") {
    $filepath: "/dist/css/fonts/" + $family + "/" + $file;
    @font-face {
        font-family: "#{$style-name}";
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf")  format('truetype'), url($filepath + ".svg#" + $style-name + "") format('svg');
    }
    %#{$style-name} {
        font: {
            @if $category != "" {
                family: "#{$style-name}", #{$category};
            }
            @else {
                family: "#{$style-name}";
                weight: normal;
            }
        }
    }
}

@include font-face('open-sans', 'opensans-regular-webfont', 'open-sans', 'regular');
@include font-face('open-sans', 'opensans-bold-webfont', 'open-sans', 'bold');
@include font-face('open-sans', 'opensans-light-webfont', 'open-sans', 'light');
@include font-face('open-sans', 'opensans-semibold-webfont', 'open-sans', 'semibold');

@include font-face('quicksand', 'quicksand-bold-webfont', 'quicksand', 'bold');
@include font-face('quicksand', 'quicksand_dash-webfont', 'quicksand', 'dash');
@include font-face('quicksand', 'quicksand-light-webfont', 'quicksand', 'light');
@include font-face('quicksand', 'quicksand-regular-webfont', 'quicksand', 'regular');

@include font-face('nimbus-sans', 'nimbussansnovust_blackitalic-webfont', 'nimbus-sans', 'blackitalic');
@include font-face('nimbus-sans', 'nimbussansnovust_black-webfont', 'nimbus-sans', 'black');
@include font-face('nimbus-sans', 'nimbussansnovust_bold-webfont', 'nimbus-sans', 'bold');

@include font-face('caviar-dreams', 'Caviar_Dreams_Bold-webfont', 'caviar-dreams', 'bold');
/*@include font-face('caviar-dreams', 'CaviarDreams_BoldItalic-webfont', 'caviar-dreams', 'boldItalic');
@include font-face('caviar-dreams', 'CaviarDreams_Italic-webfont', 'caviar-dreams', 'italic');
@include font-face('caviar-dreams', 'CaviarDreams-webfont', 'caviar-dreams', 'regular');*/
