button.cicle-btn, .cicle-btn {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    &.plus-cta{
      background: #2980b9;
      border-color: #3498db;
      color: #fff;
    }
    &.minus-cta{
      background: #7f8c8d;
      border-color: #95a5a6;
      color: #fff;
    }
    &:hover{
      background: #2c3e50;
      border-color: #34495e;
    }
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

button.btn.btn-warning {
    border: 1px solid #c0392b;
    background: #fff;
    color: #c0392b;
    min-width: 100px !important;
    padding: 0px 20px;
    &:hover{
      background: #c0392b;
      color: #fff;
    }
}
i.material-icons.fa.fa-search{
  float: left;
  line-height: 30px;
  margin-right: 10px;
}
.mdl-textfield__input.search-input{
  width: 85%;
  float: left;
}
  a.cicle-btn.plus-cta {
      display: inline-block;
      line-height: 35px;
      background: #337ab7;
      color: #fff;
  }
