.card-docs {

	.mdl-card__title {
	  color: #fff;
	  background: bottom right 15% no-repeat #46B6AC;
	}

	.mdl-card__supporting-text {
		min-height: 210px;
	}

	.mdl-card__menu {
	  color: #fff;
	}

	.fa-ellipsis-v {
		font-size: 18px;
		color: #46B6AC;
	}
}

.documents-title {
	width: 100%;
	background: #34495e;
	padding: 25px 50px;
	margin-bottom: 30px;
		h2.title {
	    color: #fff;
	    margin: 0px;
	    font-size: 3rem;
	    line-height: 50px;
	}
}

.description-band {
    padding: 20px;
		p{
			margin-bottom: 0px;
		}
}
.highlight-topic-example{
	background: #eee;
}
