.card-docs {
	&.mdl-card {
    max-width: 320px;
    height: auto;
    width: 100%;
    margin: 20px auto;
	}
	.mdl-card__title {
	  color: #2c3e50;
	  background: bottom right 15% no-repeat #46B6AC;
		min-height: 120px;
	}
	.mdl-card__title-text{
		&.white-topic{
			color:#fff;
		}
	}
	.event-card{
		background: url("../images/event-keyboard-small.jpg");
	}
	.presentation-card{
		background: url("../images/show-image-doc.jpg");
	}
	.search-card{
		background: url("../images/looking-for.jpg");
	}
	.category-card{
		background: url("../images/categorias-library-items.jpg");
	}
	.product-card{
		background: url("../images/produtcs-images.jpg");
	}
	.checkout-card{
		background: url("../images/bag_checkout.jpg");
	}
	.mdl-card__supporting-text {
		min-height: 240px;
	}
	.mdl-card__menu {
	  color: #fff;
	}
	.fa-ellipsis-v {
		font-size: 18px;
		color: #46B6AC;
	}
	.mdl-card__actions a{
		width: 100%;
    text-decoration: none;
	}
}

.documents-title {
	width: 100%;
	background: #34495e;
	padding: 25px 50px;
	margin-bottom: 30px;
	&.section-events{
		background: url("../images/event-keyboard-small-fullband.png") right no-repeat #eee;
	}
	&.section-homepage{
		background: url("../images/shore-house-homepage-small-fullband.png") right no-repeat #eee;
	}
		h2.title {
	    color: #000;
	    margin: 0px;
	    font-size: 3rem;
	    line-height: 50px;
	}
}

.description-band {
    padding: 20px;
		p{
			margin-bottom: 0px;
		}
}
.highlight-topic-example{
	background: #eee;
}
