<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HarpyMetrics</title>
	<link rel="stylesheet" href="/dist/css/vendor.css">
	<link rel="stylesheet" href="/dist/css/master.css">

</head>
<body>
<header>
	<nav class="home-top-navigation">
		<div class="container">
			<div class="row">
				  <div class="col-xs-12 col-sm-4 col-md-4"><a href="/#!/" class="logo-top-menu">HarpyMetrics</a></div>
				  <div class="col-xs-12 col-sm-8 col-md-8">
				  	<div class="main-menu">
				  			<ul class="top-nav-links">
				  				<li><a href="/#!/" title="Página Principal"><strong>Início</strong></a></li>
				  				<li><a href="/#!/" title="Nossos Recursos"><strong>Recursos</strong></a></li>
				  				<li><a href="/#!/documents" title="Documentação"><strong>Documentação</strong></a></li>
									<li><a href="/#!/signin" title="Acessar"><strong>Login</strong></a></li>
									<li><a href="/#!/signup" title="Criar Conta"><strong>Nova Conta</strong></a></li>
				  		</ul>
				  	</div>
				</div>
			</div>
		</div>
	</nav>
</header>
