<footer></footer>

<script type="text/javascript">
  window.user = <%- user || 'null' %>;
</script>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="/dist/js/vendor.min.js"></script>
<script src="/dist/js/templates.min.js"></script>
<script src="/dist/js/app.min.js"></script>
</body>
</html>
