<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HarpyMetrics - Admin</title>
	<link rel="stylesheet" href="/dist/css/master.css">
	<link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/libs/material-design-lite/material.min.css">
</head>
<body>

HEADER ADMIN