<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HarpyMetrics - Admin</title>
	<link rel="stylesheet" href="/dist/css/master.css">
	<link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/libs/material-design-lite/material.min.css">
</head>
<body>
	<header>
		<nav class="home-top-navigation">
			<div class="container">
				<div class="row">
					  <div class="col-xs-12 col-sm-4 col-md-6"><a href="/#!/" class="logo-top-menu">HarpyMetrics</a></div>
					  <div class="col-xs-12 col-sm-8 col-md-6">
					  	<div class="main-menu">
					  			<ul class="top-nav-links">
					  				<li><a href="#" title=""><strong>Option 01</strong></a></li>
					  				<li><a href="#" title=""><strong>Option 02</strong></a></li>
					  				<li><a href="#" title=""><strong>Option 03</strong></a></li>
										<li>
											<!-- Right aligned menu below button -->
											<button id="account-options" class="mdl-button mdl-js-button mdl-button--icon button-access">
												Acesso
											</button>
											<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
													for="account-options">
												<li class="mdl-menu__item"><a href="/#!/signup"> Signup</a></li>
												<li class="mdl-menu__item"><a href="/#!/login"> Login</a></li>
											</ul>
										</li>
					  		</ul>
					  	</div>
					</div>
				</div>
			</div>
		</nav>
	</header>

HEADER ADMIN
