<div ng-controller="AccessController" class="main-content-view">
	<div class="section-login">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- Simple Textfield -->
					<div class="login-content">
						<h4>Acesso ao painel administrativo</h4>
						<form name="accessForm" action="/signin" method="post">
						<div class="mdl-textfield mdl-js-textfield login-textfield">
							<input placeholder="Username" class="mdl-textfield__input" type="text" name="username" ng-model="formData.username" required/>
                            <span ng-class="error" ng-show="accessForm.username.$dirty && accessForm.username.$error.required">Nome do Usuário é obrigatório</span>
						</div>
						<div class="mdl-textfield mdl-js-textfield login-textfield">
							<input placeholder="Senha" class="mdl-textfield__input" type="password" name="password" ng-model="formData.password" required/>
							<span ng-class="error" ng-show="loginForm.password.$dirty && loginForm.password.$error.required">Senha é obrigatório</span>
						</div>
						<input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored btn" ng-disabled=""
						value="login"/>
                        <span>{{message}}</span>
						</form>
						<!--p><a href="#"><i class="fa fa-expeditedssl"></i> Esqueceu a senha?</a></p-->
					</div>
					<p class="center">Ainda não tem uma conta? <br> <a href="/#!/signup">Clique aqui</a> para se cadastrar</p>
				</div>
			</div>
		</div>
	</div>
</div>
