<section class="admin-left-nav">
	<div class="portal-user-loged">
		<p class="display-user"><i class="fa fa-user"></i> User Name</p>
	</div>
	<ul class="left-nav-list">
		<li><a href="/#!/admin"><i class="fa fa-home"></i> Dashboard</a></li>
		<li><a href="/#!/admin/details"><i class="fa fa-binoculars"></i>Visão Geral</a></li>
		<li class="left-nav-submenu">
			<a href="/#!/admin/reports"><i class="fa fa-bar-chart"></i>Relatórios <i class="fa fa-sort-desc"></i></a>
			<ul class="left-nav-submenu-list">
				<li><a href="/#!/admin/categories/{{websiteId}}">Categorias</a></li>
				<li><a href="/#!/admin/products/{{websiteId}}">Produtos</a></li>
				<li><a href="/#!/admin/navegation/{{websiteId}}">Navegação</a></li>
			</ul>
		</li>
		<li><a href="/#!/admin/harpyid"><i class="fa fa-pencil-square-o"></i>Gerenciar Sites</a></li>
	</ul>
</section>