<div ng-controller="AdminController" class="main-content-view admin-portal-site">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="admin-painel-content">

					<h4 class="pull-left page-title">Bem Vindo {{username}}!</h4>
					<ol class="breadcrumb pull-right">
						<li><a href="/#!/">HarpyMetrics</a></li>
					</ol>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="admin-top-tool-bar">
						<a class="cta-btn mdl-button mdl-js-button mdl-button--primary" href="/#!/admin/harpyid">
							Gerenciar Sites
						</a>
					</div>
					<div class="admin-intro-site-info">
						<h3>Meus Sites</h3>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th class="list-num">#</th>
										<th>Nome</th>
										<th>Detalhes</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="website in websites">
										<td scope="row">{{$index+1}}</td>
										<td>{{website.name}}</td>
										<td class="details">
											<a href='/#!/admin/details/{{website.harpyid}}'><i class="fa fa-plus-square"></i></a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
