<div ng-controller="CategoriesController" class="main-content-view admin-portal-site">
	<div class="container-fluid">
		<div class="row">
			<section class="admin-left-nav">
				<div class="portal-user-loged">
					<p class="display-user"><i class="fa fa-user"></i> User Name</p>
				</div>
				<ul class="left-nav-list">
					<li><a href="/#!/admin"><i class="fa fa-home"></i> Dashboard</a></li>
					<li><a href="/#!/admin/details"><i class="fa fa-binoculars"></i>Visão Geral</a></li>
					<li class="left-nav-submenu">
						<a href="/#!/admin/reports"><i class="fa fa-bar-chart"></i>Relatórios <i class="fa fa-sort-desc"></i></a>
						<ul class="left-nav-submenu-list">
							<li><a href="/#!/admin/details/{{harpyid}}/reports/categories">Categorias</a></li>
							<li><a href="/#!/admin/details/{{harpyid}}/reports/products">Produtos</a></li>
                            <li><a href="/#!/admin/details/{{harpyid}}/reports/searches">Buscas</a></li>
							<li><a href="/#!/admin/details/{{harpyid}}/reports/navigations">Navegações</a></li>
						</ul>
					</li>
					<li><a href="/#!/admin/harpyid"><i class="fa fa-pencil-square-o"></i>Gerenciar Sites</a></li>
				</ul>
			</section>
			<section class="admin-content">
				<div class="admin-painel-content">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<h4 class="pull-left page-title">Relatório de Categorias - {{website.name}}</h4>
								<ol class="breadcrumb pull-right">
									<li><a href="/#!/">HarpyMetrics Site</a></li>
									<li class="active"><a href="/#!/admin">Dashboard</a></li>
								</ol>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="admin-top-tool-bar">
									<a class="cta-btn mdl-button mdl-js-button mdl-button--primary" href="/#!/admin/details/{{harpyid}}/reports/categories">
										Categorias
									</a>
									<a class="cta-btn mdl-button mdl-js-button mdl-button--primary" href="/#!/admin/details/{{harpyid}}/reports/products">
										Produtos
									</a>
                                    <a class="cta-btn mdl-button mdl-js-button mdl-button--primary" href="/#!/admin/details/{{harpyid}}/reports/searches">
										Buscas
									</a>
                                    <a class="cta-btn mdl-button mdl-js-button mdl-button--primary" href="/#!/admin/details/{{harpyid}}/reports/navigations">
										Navegações
									</a>
								</div>
								<div class="admin-intro-site-info">
									<div class="row">
										<div class="col-sm-12 col-md-8">
											<h3 class="report-title">Categorias ordenadas por acesso</h3>
										</div>
										<div class="col-sm-12 col-md-4">
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="table-responsive">
												<div google-chart chart="chartCategories" style="height:300px; width:100%;"></div>
												<table class="table">
													<thead>
														<tr>
															<th class="list-num">N</th>
															<th>Nome da categoria</th>
															<th>Acessos</th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="cat in categories">
															<td scope="row">{{cat.category.id}}</td>
															<td>{{cat.category.name}}</td>
															<td>{{cat.quantity}}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
