<div ng-controller="IndexController" class="main-content-view">
	<div class="section-related-content">
		<div class="container">
			<div class="row">

				<div class="col-md-4">
					<div class="card-docs mdl-card mdl-shadow--2dp">
						<div class="mdl-card__title mdl-card--expand">
						    <h2 class="mdl-card__title-text">Eventos</h2>
						</div>

						<div class="mdl-card__supporting-text">
						    <p>Para o HarpyMetrics iniciar as suas atividades é necessário utilizar o <strong>script fornecido pelo harpymetrics</strong> e adicionar algumas tags no site que será monitorado. As páginas principais onde devem ser inseridos os scripts são: 
							    <strong>Home, Search, Category, Product, Checkout.</strong>
						    </p>
						</div>

						<div class="mdl-card__actions mdl-card--border">
					    <a ui-view="documents" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
					      Ver mais detalhes
					    </a>
					  </div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card-docs mdl-card mdl-shadow--2dp">

					  <div class="mdl-card__title mdl-card--expand">
					    <h2 class="mdl-card__title-text">Home</h2>
					  </div>

					  <div class="mdl-card__supporting-text">
					   	<p> Na homepage o harpymetrics consegue monitor os eventos de <strong>view (visualização)</strong> ou <strong>click (clique)</strong> para produtos e promoções internas, conforme a necessidade.</p>
					  </div>

					  <div class="mdl-card__actions mdl-card--border">
					    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
					      Ver mais detalhes
					    </a>
					  </div>

					</div>
				</div>

				<div class="col-md-4">
					<div class="card-docs mdl-card mdl-shadow--2dp">

					  <div class="mdl-card__title mdl-card--expand">
					    <h2 class="mdl-card__title-text">Search</h2>
					  </div>

					  <div class="mdl-card__supporting-text">
					    <p>Na página de busca o harpymetrics pode relatar a <strong>quantidade total</strong> de buscas e quais foram os <strong>termos mais buscados</strong> e alinhar esses resultados com as informações de outros relatórios.</p>
					  </div>

					  <div class="mdl-card__actions mdl-card--border">
					    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
					      Ver mais detalhes
					    </a>
					  </div>

					</div>
				</div>

				

			</div>

			<div class="row">

				<div class="col-md-4">
					<div class="card-docs mdl-card mdl-shadow--2dp">

					  <div class="mdl-card__title mdl-card--expand">
					    <h2 class="mdl-card__title-text">Category</h2>
					  </div>

					  <div class="mdl-card__supporting-text">
					    <p>Com o script de categoria podemos visualizar quais foram as categorias mais acessadas, além de encontrar padrões de navegação que podem levar a uma categoria específica.</p>
					  </div>

					  <div class="mdl-card__actions mdl-card--border">
					    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
					      Ver mais detalhes
					    </a>
					  </div>

					</div>
				</div>
				
				<div class="col-md-4">
					<div class="card-docs mdl-card mdl-shadow--2dp">

					  <div class="mdl-card__title mdl-card--expand">
					    <h2 class="mdl-card__title-text">Product</h2>
					  </div>

					  <div class="mdl-card__supporting-text">
					    <p>Produto é o núcleo do e-commerce, os relatórios do harpymetrics ajuda a criar novas percepções de como os usuários estão navegando, assim, podendo criar uma boa estrátegia de venda.
					  </div>

					  <div class="mdl-card__actions mdl-card--border">
					    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
					      Ver mais detalhes
					    </a>
					  </div>

					</div>
				</div>

				<div class="col-md-4">
					<div class="card-docs mdl-card mdl-shadow--2dp">

					  <div class="mdl-card__title mdl-card--expand">
					    <h2 class="mdl-card__title-text">Checkout</h2>
					  </div>

					  <div class="mdl-card__supporting-text">
					    <p>Cada passo de checkout pode ser monitorado pelo harpymetrics, assim pode ser descrito o desempenho do carrinho de compras e pedidos confirmados, além de averiguar os dados de navegação a cada passo do usuário.</p>
					  </div>

					  <div class="mdl-card__actions mdl-card--border">
					    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
					      Ver mais detalhes
					    </a>
					  </div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>
