<div class="main-content-view">
	<div class="section-related-content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="documents-title section-events">
						<h2 class="title">Eventos</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="description-band">
							<p>Eventos podem ser considerados como uma interação, que resulta nos dados que estão sendo enviados para o harpymetrics. Os tipos de eventos conseguem incluir acesso de páginas, rastreamento dos passos do usuário, acompanhamento no checkout, entre outros.</p>
							<br>
							<p>Cada vez que um código de acompanhamento é adicionado um evento de comportamento do usuário é acionado. Por exemplo, o usuário carrega a página de produto, isso dispara uma ação de detail que seria para verificar os acessos a determinadas páginas do site. Após isso o harpymetrics registra essa atividade com as demais informações capturadas na página.</p>
							<br>
							<p>Abaixo segue a lista dos eventos:</p>

							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th>Nome do campo</th>
											<th>Valor do campo</th>
											<th>Descrição</th>
											<th>Módulos (onde podem ser utilizados)</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td scope="row">hitType</td>
											<td>View</td>
											<td>Evento para visualização.</td>
											<td>Vitrines de produtos ou promoções internas</td>
										</tr>
										<tr>
											<td scope="row">hitType</td>
											<td>Click</td>
											<td>Evento para captura de cliques.</td>
											<td>Vitrines de produtos ou promoções internas</td>
										</tr>
										<tr>
											<td scope="row">hitType</td>
											<td>Send</td>
											<td>Atividade para rastreamento dos envios de formulários</td>
											<td>Todos os formulários</td>
										</tr>
										<tr>
											<td scope="row">hitType</td>
											<td>Detail</td>
											<td>Evento para captura das páginas acessadas.</td>
											<td>Todas as páginas</td>
										</tr>
										<tr>
											<td scope="row">hitType</td>
											<td>Add Cart</td>
											<td>Rastreamento das ações de adicionar ao carrinho</td>
											<td>Ação de adicionar produto do carrinho</td>
										</tr>
										<tr>
											<td scope="row">hitType</td>
											<td>Remove Cart</td>
											<td>Rastreamento das ações de remover do carrinho</td>
											<td>Ação de remover produto do carrinho</td>
										</tr>
										<tr>
											<td scope="row">hitType</td>
											<td>Purchase</td>
											<td>Eventos para as conversões</td>
											<td>Finalização do processo de checkout</td>
										</tr>
										<tr>
											<td scope="row">hitType</td>
											<td>Checkout</td>
											<td>Eventos de acompanhamento do checkout</td>
											<td>Checkout</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
