<div ng-controller="NavigationsController" class="main-content-view admin-portal-site">
	<div class="container-fluid">
		<div class="row">
			<section class="admin-left-nav">
				<div class="portal-user-loged">
					<p class="display-user"><i class="fa fa-user"></i> User Name</p>
				</div>
				<ul class="left-nav-list">
					<li><a href="/#!/admin"><i class="fa fa-home"></i> Dashboard</a></li>
					<li><a href="/#!/admin/details/{{harpyid}}"><i class="fa fa-binoculars"></i>Visão Geral</a></li>
					<li class="left-nav-submenu">
						<a href="/#!/admin/reports"><i class="fa fa-bar-chart"></i>Relatórios <i class="fa fa-sort-desc"></i></a>
						<ul class="left-nav-submenu-list">
							<li><a href="/#!/admin/details/{{harpyid}}/reports/categories">Categorias</a></li>
							<li><a href="/#!/admin/details/{{harpyid}}/reports/products">Produtos</a></li>
                            <li><a href="/#!/admin/details/{{harpyid}}/reports/searches">Buscas</a></li>
							<li><a href="/#!/admin/details/{{harpyid}}/reports/navigations">Navegações</a></li>
							<li><a href="/#!/admin/details/{{harpyid}}/reports/pages">Páginas</a></li>
						</ul>
					</li>
					<li><a href="/#!/admin/harpyid"><i class="fa fa-pencil-square-o"></i>Gerenciar Sites</a></li>
				</ul>
			</section>
			<section class="admin-content">
				<div class="admin-painel-content">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<h4 class="pull-left page-title">Relatório de Buscas - {{website.name}}</h4>
								<ol class="breadcrumb pull-right">
									<li><a href="/#!/">HarpyMetrics Site</a></li>
									<li class="active"><a href="/#!/admin">Dashboard</a></li>
									<li class="active"><a href="/#!/admin/reports">Relatórios</a></li>
								</ol>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="admin-top-tool-bar">
									<a class="cta-btn mdl-button mdl-js-button mdl-button--primary" href="/#!/admin/details/{{harpyid}}/reports/categories">
										Categorias
									</a>
									<a class="cta-btn mdl-button mdl-js-button mdl-button--primary" href="/#!/admin/details/{{harpyid}}/reports/products">
										Produtos
									</a>
                                    <a class="cta-btn mdl-button mdl-js-button mdl-button--primary" href="/#!/admin/details/{{harpyid}}/reports/searches">
										Buscas
									</a>
                                    <a class="cta-btn mdl-button mdl-js-button mdl-button--primary" href="/#!/admin/details/{{harpyid}}/reports/navigations">
										Navegações
									</a>
									<a class="cta-btn mdl-button mdl-js-button mdl-button--primary" href="/#!/admin/details/{{harpyid}}/reports/pages">
										Páginas
									</a>
								</div>
								<div class="admin-intro-site-info">
									<div class="row">
										<div class="col-sm-12 col-md-8">
											<h3 class="report-title">Detalhes das navegações</h3>
										</div>
										<div class="col-sm-12 col-md-4">
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="table-responsive">
												<table class="table">
													<thead>
														<tr>
															<th class="list-num">N</th>
															<th>Sessão</th>
															<th>Qtd. páginas</th>
                                                            <th>Média de duração por página</th>
                                                            <th>Duração mínima</th>
                                                            <th>Duração máxima</th>
                                                            <th></th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat-start="details in navigationsDetails">
															<td scope="row">{{$index+1}}</td>
															<td>{{details._id}}</td>
															<td>{{details.count}}</td>
                                                            <td>{{details.avgDuration}}</td>
                                                            <td>{{details.minDuration}}</td>
                                                            <td>{{details.maxDuration}}</td>
                                                            <td>
                                                            <button ng-if="details.expanded" ng-click="details.expanded = false">-</button>
                                                            <button ng-if="!details.expanded" ng-click="details.expanded = true">+</button>
                                                            </td>
														</tr>
                                                        <tr ng-if="details.expanded" ng-repeat-end="">
                                                            <td colspan="7">
                                                                <div class="table-responsive">
                                                                    <table class="table" style="font-size:8pt;">
                                                                        <thead>
                                                                          <tr>
                                                                            <td>Página</td>
                                                                            <td width="8%">URL</td>
                                                                            <td width="8%">URL anterior</td>
                                                                            <td>Duração (s)</td>
                                                                            <td>Entrada</td>
                                                                            <td>Saída</td>
                                                                            <td>Tipo</td>
                                                                          </tr>
                                                                          <tr ng-repeat="navigation in details.navigations">
                                                                            <td>{{navigation.title}}</td>
                                                                            <td>{{navigation.url}}</td>
                                                                            <td>{{navigation.referrerURL}}</td>
                                                                            <td>{{navigation.duration}}</td>
                                                                            <td>{{navigation.startTimestamp | date:"MM/dd/yyyy h:mm:sa"}}</td>
                                                                            <td>{{navigation.timestamp | date:"MM/dd/yyyy h:mm:sa"}}</td>
                                                                            <td>{{navigation.pageType}}</td>
                                                                          </tr>
                                                                        </thead>
                                                                      </table>
                                                                </div>
                                                            </td>
                                                        </tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
