<div ng-controller="IndexController" class="main-content-view">
	<div class="section-related-content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h4>Como começar<h4>

					<p>Quer começar a utilizar o HarpyMetrics? Aqui esta uma demostração dos primeiros passos para utilizar a aplicação. Crie uma conta, o video abaixo apresenta de forma simples como é fácil realizar o cadastro no site.</p>
					<br>
					<div class="video-container">
						<video style="width: 100%;" loop="" id="video-account-intro" controls>
							<source src="/dist/extras/harpymetrics_novo_cadastro.mp4" type="video/mp4"/>
							<source src="/dist/extras/harpymetrics_novo_cadastro.webm" type="video/webm"/>
						</video>
					</div>
					<h4>Introdução ao módulo de relatórios<h4>

					<p>Visualizando e monitorando as informações, veja como iniciar o acompanhamento dos dados do e-commerce, com o video de introdução ao módulo administrativo. Conheça os principais relatórios disponiveis na aplicação. HarpyMetrics versão 0.1</p>
					<br>
					<div class="video-container">
						<video style="width: 100%;" loop="" id="video-account-intro" controls>
							<source src="/dist/extras/harpymetrics_relatorios_introducao.mp4" type="video/mp4"/>
							<source src="/dist/extras/harpymetrics_relatorios_introducao.webm" type="video/webm"/>
						</video>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
