<div class="main-content-view">
	<div class="section-related-content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="documents-title section-events">
						<h2 class="title">Product</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="description-band">
							<p>Para adicionar o código de acompanhamento de página de categoria, será necessário adicionar algumas informações, essas que serão enviadas para analise. </p>
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
