<div ng-controller="ReportController" class="main-content-view admin-portal-site">
	<div class="container-fluid">
		<div class="row">
			<section class="admin-left-nav">
				<div class="portal-user-loged">
					<p class="display-user"><i class="fa fa-user"></i> User Name</p>
				</div>
				<ul class="left-nav-list">
					<li><a href="/#!/admin"><i class="fa fa-home"></i> Dashboard</a></li>
					<li><a href="/#!/admin/details/{{website.harpyid}}"><i class="fa fa-binoculars"></i>Visão Geral</a></li>
					<li class="left-nav-submenu">
						<a href="/#!/admin/reports"><i class="fa fa-bar-chart"></i>Relatórios <i class="fa fa-sort-desc"></i></a>
						<ul class="left-nav-submenu-list">
							<li><a href="/#!/admin/reports/products">Produtos (Geral)</a></li>
							<li><a href="/#!/admin/reports/{{website.harpyid}}">Relatório 002</a></li>
							<li><a href="/#!/admin/reports/{{website.harpyid}}">Relatório 003</a></li>
              <li><a href="/#!/admin/report/{{website.harpyid}}/product/most-acessed">Mais acessados</a></li>
						</ul>
					</li>
					<li><a href="/#!/admin/harpyid"><i class="fa fa-pencil-square-o"></i>Gerenciar Sites</a></li>
					<li><a href="/#!/admin"><i class="fa fa-question"></i> Suporte</a></li>
				</ul>
			</section>
			<section class="admin-content">
				<div class="admin-painel-content">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<h4 class="pull-left page-title">Visão Geral - {{website.name}}</h4>
								<ol class="breadcrumb pull-right">
									<li><a href="/#!/">HarpyMetrics Site</a></li>
									<li class="active"><a href="/#!/admin">Dashboard</a></li>
								</ol>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="admin-top-tool-bar">
									<a class="cta-btn mdl-button mdl-js-button mdl-button--primary" href="/#!/admin/harpyid">
										HarpyID
									</a>
								</div>
								<div class="admin-intro-site-info">
									<div class="row">
										<div class="col-sm-12">
											<h3>Relatórios</h3>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 col-sm-6 col-lg-3">

										</div>
										<div class="col-md-6 col-sm-6 col-lg-3">

										</div>
										<div class="col-md-6 col-sm-6 col-lg-3">

										</div>
										<div class="col-md-6 col-sm-6 col-lg-3">

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
