section.admin-left-nav {
    position: absolute;
    background-color: #34495e;
    width: 260px;
    z-index: 2;
    min-height: 100%;
    height: auto;
    div.portal-user-loged{
      width: 100%;
      box-sizing: border-box;
      min-height: 70px;
      padding: 20px 0px;
      background: rgba(0, 0, 0, 0.1);
      i.fa.fa-user{
        color: #fff;
        background: rgba(255, 255, 255, 0.2);
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin: 0px 15px 0px 25px;
        line-height: 25px;
        text-align: center;
      }
      p.display-user{
        color: #fff;
        font-weight: 800;
        /* text-align: center; */
        line-height: 25px;
        margin: 0px;
      }
    }
}
section.admin-content{
  margin-left: 260px;
  overflow: hidden;
  min-height: 500px;
}
.admin-painel-content div.container{
  width: 100% !important;
}
.admin-top-tool-bar {
    background: #ecf0f1;
    box-sizing: border-box;
    width: 100%;
    margin: 0px auto 15px;
}
.admin-painel-content {
    padding: 15px 0px;
}

ul.left-nav-list{
  li.left-nav-submenu:hover,
  li.left-nav-submenu.active{
    a{
      background: rgba(0,0,0,0.3);
      border-bottom: 1px solid rgba(255,255,255,0.1);
    }
    ul.left-nav-submenu-list{
      display: block;
      -webkit-transition: all .3s ease-out;
      -moz-transition: all .3s ease-out;
      -o-transition: all .3s ease-out;
      -ms-transition: all .3s ease-out;
      transition: all .3s ease-out;
    }
  }
  li {
     list-style: none;
     ul.left-nav-submenu-list{
       display: none;
       li{
         a, a:active, a:visited{
           font-size: 1rem;
           line-height: 1.3rem;
           padding: 10px 0px 10px 40px;
           background: rgba(0,0,0,0.1) !important;
           color: #ccc;
           -webkit-transition: all .3s ease-out;
           -moz-transition: all .3s ease-out;
           -o-transition: all .3s ease-out;
           -ms-transition: all .3s ease-out;
           transition: all .3s ease-out;
           &:hover{
             background: rgba(0,0,0,0.3)!important;
             text-decoration: none;
             -webkit-transition: all .3s ease-out;
             -moz-transition: all .3s ease-out;
             -o-transition: all .3s ease-out;
             -ms-transition: all .3s ease-out;
             transition: all .3s ease-out;
           }
         }
       }
     }
     a.active{
       background: rgba(0,0,0,0.2);
     }
     a, a:active, a:visited{
       display: inline-block;
        width: 100%;
        box-sizing: border-box;
        color: #fff;
        text-decoration: none;
        font-size: 1.2rem;
        line-height: 1.5rem;
        padding: 15px 0px;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        -ms-transition: all .3s ease-out;
        transition: all .3s ease-out;
        &:hover{
          background: rgba(0,0,0,0.2);
          text-decoration: none;
          -webkit-transition: all .3s ease-out;
          -moz-transition: all .3s ease-out;
          -o-transition: all .3s ease-out;
          -ms-transition: all .3s ease-out;
          transition: all .3s ease-out;
        }
        i.fa{
          margin: 0px 15px 0px 25px;
        }
        i.fa.fa-sort-desc{
          float: right;
          margin: 0px 30px 0px 0px;
          font-size: 1rem;
        }
     }
   }
}
