
div.mdl-textfield.form-textfield {
	min-width: 300px;
	width: 80%;
}

div.sucess-msg {
    color: #4caf50;
    background: rgba(76, 175, 80, 0.1);
    padding: 15px 0px;
    text-align: center;
    border: 1px solid #4caf50;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.main-form-content{
	padding: 20px 0px;
	width: 100%;
	min-height: 550px;
	box-sizing: border-box;
	text-align: center;
}
div.main-form-content form .mdl-textfield.small {
    width: 285px;
    margin: 0 15px;
    padding: 20px 0;
}
div.main-form-content form input.mdl-button{
	margin: 15px 0px
}
